global
   maxconn 4096
   daemon

defaults
   log   global
   mode   http
   # logs which servers requests go to, plus current connections and a whole lot of other stuff 
   option   httplog
   option   dontlognull
   retries   3
   option redispatch
   maxconn   2000
   timeout connect   5000
   timeout client   50000
   timeout server   50000
   log        127.0.0.1       local0
   # use rsyslog rules to forword to a centralized server  
   log        127.0.0.1       local7 debug
   # check webservers for health, taking them out of the queue as necessary 
   option httpchk
   option forwardfor

# this load balancer servers both www.site.com and static.site.com, but those two URLS have  
# different servers on the backend (app servers versus statis media apache instances)  
# also, I want to server www.site.com/static/* from the later farm  

frontend http
   bind :80

   # important, see comment from Willy Tarreau bellow
   option http-server-close

   default_backend kibana

backend kibana
   balance roundrobin

   http-request set-header x-proxy-user kevin
   http-request set-header x-proxy-roles admin,priv
   http-request set-header x-forwarded-by 172.29.0.1

   server kibana kibana:5601

frontend stats
   bind 0.0.0.0:8080
   mode http
   stats enable